<div><h2>All Cocktails</h2></div>
 
<section id="container">
    {{#each allCocktails}}
    <div class="image-cocktail">
        <img src="{{this.image}}" alt="cocktail-pic">
        <div id="info-cocktail">
        <h3 class="cocktail-name"> {{this.name}} </h3>
        <p>{{this.funFact}} </p>
        <a href="/one-cocktail/{{this._id}}">See details</a>
        <form action="/cocktail-edit/{{this._id}}" method="get">
            <button>Update</button>
        </form>
        <form action="/delete/{{this._id}}" method="post">
            <button>Delete</button>
        </form>
    </div>
    </div>
    
    </div>
    {{/each}}
</section>  {{!-- <div>
    <label>Choose your alcohol level</label>
    <input list=“level”>
    <option value="">Choose Alcohol Base</option>
    <option value="vodka" />
    <option value="whisky" />
    <option value="gin" />
    <option value="rhum" />
    <option value="tequila" />
    <option value="cognac" />
    <option value="cachaça" />
    <option value="bourbon" />
    <option value="armagnac" />
    <option value="absinthe" />
    <option value="virgin" />
    <option value="other" />
</div> --}}