<div id="account-container">
    <h1>My bar</h1>
    <div class="pic-container"> <img class="profile-pic" src="{{oneUser.profilPic}}" alt="user-pic"> </div>
    <div class="username">
        <p class="userText">{{oneUser.userName}}</p>
    </div>



    <form action="/auth/user-edit" method="get">
        <button>Update info</button>
    </form>

</div>


{{!-- {{#each allCocktails}}
<div>
    <img src="{{this.image}}" alt="cocktail-pic">
    <h3>{{this.name}}</h3>
    <p>{{this.funFact}} </p>
    <a href="/one-cocktail/{{this._id}}">See details</a>
    <form action="/cocktail-edit/{{this._id}}" method="get">
        <button>Update</button>
    </form>
    <form action="/delete/{{this._id}}" method="post">
        <button>Delete</button>
    </form>
</div>
{{/each}} --}}