{{!-- <section id="cocktail"> --}}
    <h1>My bar</h1>
    <div> <img src="{{oneUser.profilPic}}" alt="user-pic"> </div>
    <div>{{oneUser.userName}}</div>
    {{!-- <div>{{oneUser.country}}</div> --}}


    <form action="/user-edit/{{oneUser._id}}" method="get">
        <button>Update</button>
    </form>

    <form action="/delete/{{oneUser._id}}" method="post">
        <button>Delete</button>
    </form>