<h1>Display one cocktail</h1>

<div> <img src="{{oneCocktail.image}}" alt="cocktail-pic"> </div>
<div>{{oneCocktail.name}}</div>
<div>{{oneCocktail.alcoholLevel}}</div>
<div> {{oneCocktail.ingredients}} </div>
<div> {{oneCocktail.funFact}} </div>

<form action="/cocktail-edit/{{oneCocktail._id}}" method="get">
    <button>Update</button>
</form>