<h1>Display one cocktail</h1>

<div> <img src="{{oneCocktail.image}}" alt="cocktail-pic"> </div>
<div>{{oneCocktail.name}}</div>
<div>{{oneCocktail.alcoholLevel}}</div>
<div> {{oneCocktail.ingredients}} </div>
<div> {{oneCocktail.funFact}} </div>
<div class="flexed-item">
    <select name="main-category" id="main_category" class="select sneak-select">
      {{!-- bonus : add different sizes on the model + forms  --}}
       <option value="">Choose Alcohol Base</option>
          <option value="vodka">vodka</option>
      <option value="whisky">Whisky</option>
      <option value="gin">Gin</option>
      <option value="rhum">Rhum</option>
      <option value="tequila">Tequila</option>
      <option value="cognac">Cognac</option>
      <option value="cachaça">Cachaça</option>
      <option value="bourbon">Bourbon</option>
      <option value="armagnac">Armagnac</option>
      <option value="calvados">Calvados</option>
      <option value="absinthe">Absinthe</option>
      <option value="virgin">Virgin</option>
      <option value="other">Other</option>
  </div>

<form action="/cocktail-edit/{{oneCocktail._id}}" method="get">
    <button>Update</button>
</form>