<div class="container-update">

    <form action="/cocktail-edit/{{cocktailToUpdate._id}}" method="POST" enctype="multipart/form-data">
        <h2>Update cocktail</h2>

        <div>
            <label for="name">name</label>
            <input id="name" type="text" name="name" value="{{cocktailToUpdate.name}}">
        </div>

        <div>
            <label for="ingredients">ingredients</label>
            <input id="ingredients" type="text" name="ingredients" value="{{cocktailToUpdate.ingredients}}">
        </div>
        <div>
            <label for="fun-fact">fun fact</label>
            <input id="fun-fact" type="text" name="funFact" value="{{cocktailToUpdate.funFact}}">
        </div>

        <div>
            <label for="cocktail-img">Image</label>
            <input id="cocktail-img" type="file" name="image" value="{{cocktailToUpdate.image}}">
        </div>

        <button class="btn-submit" type="submit">Update your cocktail</button>
    </form>

</div>