<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="../stylesheets/style.css" />
  {{#if css}}
  <link rel="stylesheet" href="../stylesheets/{{css}}.css">
  {{/if}}

</head>

<body>
  <div class="nav">
    <ul>
      <li><a href="/" class="nav-link">Home</a></li>
      <li><a href="/bar" class="nav-link"><em>Bar</em></a></li>
      <li><a href="/bar/little-smile" class="nav-link"><em>little smile</em></a></li>
      <li><a href="/bar/reach-the-star" class="nav-link"><em>reach the star</em></a></li>
      <li><a href="/bar/A-night-you-won't-remember" class="nav-link"><em>A night you won't remember</em></a></li>
      <li><a href="/cocktail-add" class="nav-link">New cocktail</a></li>
      <li><a href="/auth/mybar" class="nav-link">My bar</a></li>
      <li><a href="/about" class="nav-link">About Us</a></li>


    </ul>
  </div>
  <div><select name="id_tags" id="tags" class="select">
      <option value="-1" disabled selected>Choose a category</option>
      {{#each tags}}
      <option value="{{this._id}}">{{this.alcoholBase}}</option>
      {{/each}}
    </select></div>



  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>

</html>